@import '../../../../styles/variables';

.create-queue-field {
    padding: 20px 0;

    &__title {
        margin-bottom: 8px;
        font-size: 18px;
        line-height: 24px;
        color: $neutralPrimary;
        font-weight: 600;
    }

    &__description {
        color: $neutralSecondary;
        margin-bottom: 20px;
    }
}