@import "../../../styles/variables";

.analysts-performance {
  &__switch-header {
    max-width: $maxTableSwitchWidth;
  }

  &__header {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;

    &-title {
      font-size: 20px;
      font-weight: bold;
      color: $neutralPrimary;
      margin-right: 32px;
    }
  }
}
