@import "../../../styles/variables";

.tab {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;

  &--border {
    border-bottom: 2px solid transparent;
  }

  &--is-active {
    font-weight: bold;
    border-bottom: 2px solid $themePrimary;
  }

  &-button {
    padding: 8px 20px;
    color: $neutralDark;
    cursor: pointer;
    border-radius: 2px;

    &:hover:not(&--is-active) {
      background: $neutralLight;
    }

    &--is-active {
      color: $white;
      background: $themePrimary;
    }
  }

}
