@import '../../../../styles/variables';

.item-details-key-value {
  margin-bottom: 20px;

  &__header {
    font-size: 14px;
    font-weight: 600;
    color: $neutralPrimary;
    line-height: 20px;
  }

  &__content {
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
  }
}
