@import "../../../styles/variables";

.queues-performance {
  &__switch-header {
    margin-bottom: 10px;
  }

  &__switch-header,
  &__data-table {
    max-width: $maxTableSwitchWidth;
  }

  &__generate-reports-button {
    position: absolute;
    top: -66px;
    right: 32px;
  }
}
