@import "../../../styles/variables";

.pie-chart {
  width: inherit;
  height: inherit;
  position: relative;

  &__text-wrap {
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    align-items: center;
    z-index: -1;
  }

  &__text {
    width: 115px;
    font-weight: 600;
    text-align: center;
    color: $neutralPrimary;
  }

  &__legends {
    display: flex;
    align-items: center;
    padding-top: 15px;
  }

  &__legend {
    display: flex;
    align-items: center;
    padding: 0 10px;

    &-indicator {
      width: 15px;
      height: 15px;
      margin-right: 5px;
      border-radius: 50%;
    }

    &-label {
      font-size: 12px;
    }
  }
}
