@import "../../../../styles/variables";

.performance-overview {
  &__analyst-progress-table {
    width: 62%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 64px);
    grid-row-gap: 20px;
    grid-column-gap: 12px;
  }

  &__analyst-overview-section {
    margin-bottom: 30px;
  }

  &__analyst-overview-section-content {
    display: flex;
  }

  &__analyst-overview-section-title {
    font-size: 20px;
    color: $neutralPrimary;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__decision-pie-chart {
    width: 38%;
  }

  &__pie-chart {
    height: 320px;
  }

  &__decision-cell {
    padding: 10px;
    border-left: 1px solid $neutralLight;
  }

  &__progress-item-title {
    font-size: 14px;
    color: $neutralSecondary;
    margin-bottom: 5px;
  }

  &__progress-number {
    position: relative;
    color: $black;
    font-size: 18px;
  }

  &__progress-percents {
    display: flex;
    align-items: center;
    left: 115%;
    top: 0;
    position: absolute;
    font-size: 10px;

    &--red {
      color: $highRiskColor;
    }

    &--green {
      color: $goodColor;
    }
  }

  &__progress-percent-arrow {
    margin-right: 4px;
  }

  &__empty-cell {
    border: 1px solid $neutralLight;
  }

  &__no-data-placeholder {
    position: relative;
    width: 62%;
    height: 232px;
    background: $neutralLighter;
  }

  &__pie-chart-no-data-placeholder {
    position: relative;
    width: 35%;
    margin: auto;
    height: 350px;
    background: #f3f2f1;
  }
}
