@import '../../../../styles/variables';

$warningFontSize: 14px;

.filters-tab {
  flex-shrink: 0;

  &__field {
    margin-bottom: 16px;
    border-bottom: 1px solid $neutralLight;
  }

  &__no-further-changes-warning {
    margin-top: 8px;
    flex-shrink: 0;

    span {
      font-size: $warningFontSize;
    }

    &-icon {
      color: $highRiskColor;
    }
  }

  &__filters-menu {
    width: 200px;
    height: 40px;
    margin-bottom: 40px;
  }
}
