@import '../../../styles/variables';

.queue-item-tags {
  $root: &;

  width: 320px;
  background: $white;
  padding: 12px 60px 12px 12px;
  box-shadow: 0 6.4px 14.4px rgba(0, 0, 0, 0.13), 0 1.2px 3.6px rgba(0, 0, 0, 0.1);

  &__tags-heading-dismiss {
    position: fixed;
    right: 20px;
    top: 10px;
    grid-row: span 2;
    color: $neutralPrimary;

    &:hover {
      color: $themePrimary;
    }
  }

  &__tag {
    display: inline-block;
    margin-right: 6px;
    margin-bottom: 6px;
    padding: 2px 5px;
    background: $neutralLight;
  }
}
