@import "../../../../styles/variables";

.range-text-condition {

  &__fields {
    display: flex;
    align-items: center;
  }

  &__delimiter {
    margin: 0 5px;
  }

  &__validation-errors {
    margin-top: 5px;
    color: $formInvalidColor;
  }

  &__validator-error {
    display: block;
  }

  &__hidden-error {
    display: none;
  }

  &__text-field {
    & > span {
      display: none;
    }
  }
}
